.video-details-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center ;
  width: 100%;
}

.video-details {
  padding: 20px;
  min-height: 100vh;
}

.video-title {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  -webkit-backface-visibility: hidden;
}

.video-player-container {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}

.video-player {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 10px;
  background-color: #000;
}

.video-player.fullscreen {
  width: 100%;
  height: 100%;
}

.fullscreen-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background: #0078ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  width: 200px;
}

.fullscreen-button:hover {
  background: #005fcc;
}

.video-description-container {
  margin-top: 20px;
}

.description-title,
.notes-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.description,
.notes {
  font-size: 1rem;
  line-height: 1.6;
}
